{% extends "base.html" %}
{% block title %}
Derek Franz Website
{% endblock %}


{% block content %}

<style>
        
    .main-view{
        margin-top:50px;
    }
    .main-test{
        align:center;
    }
    .btn-options{
        display:block;
        margin-bottom: 20px;
        width: 300px;

    } 
    .btn-dual{
        margin-bottom:10px;
        margin-bottom: 20px;
        margin-left: 10px;
        display:block;
        width: 300px;
    }
</style>
</head>
<body>
<div class="container-fluid main-view">

    

    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = '/tvremote';" class="btn btn-dark btn-lg btn-options">TV Remote</button>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = '/led';" class="btn  btn-lg btn-options" style="background:rgb(149, 50, 168); color:white;">LED</button>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = '/homemanagement';" class="btn  btn-lg btn-dual" style="background:rgb(20, 115, 128); color:white;">Home Management</button>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = '/mariokart';" class="btn  btn-lg btn-dual" style="background:rgb(201, 89, 32);color:white;">Mario Kart Track Picker</button>
        <button type="button" onclick="window.location.href = '/donny';" class="btn  btn-lg btn-dual" style="background:rgb(133, 51, 45); color:white;">Generate Donny Quote</button>
    </div>

    
    
        <form action="/room-lights" method="GET">
            <div class="d-flex justify-content-center">
        <button type="submit" name="room" value="livingroom"  class="btn  btn-lg btn-dual" style="background:rgb(255, 186, 0);">Living Room Lights</button>
        <button type="submit" name="room" value="dereksroom"  class="btn  btn-lg btn-dual" style="background:rgb(189, 174, 9);">Bed Room Lights</button>
        </form>
    </div>

    
    {% comment %} <div class="d-flex justify-content-center">
    <button type="button" onclick="window.location.href = 'Derek_AC.php';" class="btn  btn-lg btn-dual" style="background:rgb(45, 90, 133); color:white;">Derek AC Control</button>
        <button type="button" onclick="window.location.href = 'AC_Control.php';" class="btn  btn-lg btn-dual" style="background:rgb(19, 60, 240); color:white;">AC Control</button>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = 'alarmViewer.php';" class="btn  btn-lg btn-dual" style="background:rgb(52, 191, 89); color:white;">View Alarms</button>
        <button type="button" onclick="window.location.href = 'alarm.php';" class="btn btn-danger btn-lg btn-dual" >Set Alarm</button>
    </div> {% endcomment %}
    <div class="d-flex justify-content-center">
        {% comment %} <button type="button" onclick="window.location.href = 'server_functions.php';" class="btn  btn-lg btn-dual" style="background:rgb(63, 141, 153); color:white;">Server Functions</button> {% endcomment %}
        <button type="button" onclick="window.location.href = '/text-to-speech';" class="btn  btn-lg btn-dual" style="background:rgb(50, 168, 82); color:white;">Text To Speech</button>
    </div>

    {% comment %} <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = 'PartyCounter.php';" class="btn  btn-lg btn-dual" style="background:rgb(63, 141, 153); color:white;">Party Counter</button>
        <button type="button" onclick="window.location.href = '/file-upload';" class="btn  btn-lg btn-dual" style="background:rgb(63, 141, 153); color:white;">File Upload</button>
        
    </div> {% endcomment %}

    <div class="d-flex justify-content-center">
        <button type="button" onclick="window.location.href = '{% url 'logout' %}';" 
        class="btn btn-lg btn-options" style="background:rgb(112, 10, 109); color:white;">Logout</button>
    </div>

{% endblock %}