{% extends "base.html" %}
{%load static %}

{%block icon%}
<link rel="apple-touch-icon" sizes="120x120" href="{% static "images/tv/apple-touch-icon-120.png" %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static "images/tv/icon-192.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{%static "images/tv/apple-touch-icon-180.png" %}">
{%endblock%}

{% block title %}
TV Remote
{% endblock %}

{% block content %}

<style>
        
    .main-view{
        margin-top:30px;
    }
    .main-test{
        align:center;
    }
    .btn-options{
        display:block;
        margin-bottom: 20px;
        width: 300px;
    }
    .button-side{
        margin-right:10px;
        margin-left:10px;
    }
    .button-select{
        margin-bottom:10px;
        margin-bottom: 20px;
        display:block;
        width: 150px;
    }
    .button-volMany{
        margin-bottom:10px;
        margin-bottom: 20px;
        display:block;
        width: 150px;
    }
    .button-vol{
        margin-bottom:10px;
        margin-bottom: 20px;
        display:block;
        width: 200px;
    }

</style>

<form action="{% url 'command-choice' %}" method="POST">
    {% csrf_token %}

    <div class="container-fluid main-view">
        <div class="d-flex justify-content-center ">
            <button type="submit" name="command" value='TVPower'
            class="btn btn-primary btn-lg btn-options">TV ON/OFF</button>
        </div>
        <div class="d-flex justify-content-center">
            
        </div>    

        <div class="d-flex justify-content-center">
            <button type="submit" name="command" value='Input'
            class="btn btn-success btn-lg btn-options button-side">Input</button>
            <button type="submit" name="command" value='Mute'
            class="btn btn-lg btn-options" style="background:rgb(52, 120, 140);color:white;">Mute</button>
        </div>
        

        <div class="d-flex justify-content-center">
            <button type="submit" name="command" value='VolumeDown5'
            class="btn btn-dark btn-lg button-volMany button-side">- 5</button>
            <button type="submit" name="command" value='VolumeDown'
            class="btn btn-dark btn-lg button-vol button-side">Volume Down</button>
            <button type="submit" name="command" value='VolumeUp'
            class="btn btn-info btn-lg button-vol button-side">Volume Up</button>
            <button type="submit" name="command" value='VolumeUp5'
            class="btn btn-info btn-lg button-volMany button-side">+ 5</button>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" name="command" value='TVup'
            class="btn  btn-lg btn-options button-side" style="background:rgb(135, 61, 156);color:white;">Up</button>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" name="command" value='TVleft'
            class="btn btn-lg btn-options button-side" style="background:rgb(235, 64, 52);color:white;">Left</button>
            <button type="submit" name="command" value='Select'
            class="btn btn-lg  button-select " style="background:rgb(122, 69, 120);color:white;">Select</button>
            <button type="submit" name="command" value='TVright'
            class="btn btn-info btn-lg btn-options button-side" style="background:rgb(66, 135, 245);color:white;">Right</button>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" name="command" value='TVdown'
            class="btn btn-lg btn-options button-side" style="background:rgb(50, 168, 82);color:white;">Down</button>
        </div>



        <div class="d-flex justify-content-center">
            <button type="button" onclick="window.location.href = '{{request.META.HTTP_REFERER}}';" 
            class="btn btn-lg btn-options" style="background:rgb(255, 186, 0);">Back</button>
        </div>

    {% endblock %}